root{
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-medium: #f8f9fa;

}
*{
    font-family: 'Quicksand', sans-serif;
}

/*GENERAL STYLE*/

/*---SECTIONS---*/
/*--->NAV*/
.navbar-brand>img{
    width: 250px;

}
.navbar-style {
    text-emphasis-color: black;
}
.header-main{
    min-height: 100vh;
}
/*footer*/
footer{
    background-color: aquamarine;
}
.icons-socialmedia > a{
    --size: 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;


}
.icons-socialmedia> a:hover{
    filter: opacity(0.5);

}
.icon-service{
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 10px;
    
}