*{
    font-family: 'Quicksand', sans-serif;
    color: #030c11;
}

/*GENERAL STYLE*/
.btn-primary{ 
    color: #ffffff;
    font-family: 'Quicksand';
}
.container > .row{
    margin-bottom: 3rem;
}

/*---SECTIONS---*/
/*--->NAV*/
.navbar-brand>img{
    width: 250px;
}

.header-main{
    min-height: 100vh;
}
/*footer*/
footer{
    background-color: #47ebd5;
}
.icons-socialmedia > a{
    --size: 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icons-socialmedia> a:hover{
    filter: opacity(0.5);
}
.icon-service{
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 10px;
}